<a class="getstarted scrollto active" href="@Url.Action("GioHang", "GioHang")" style="font-weight:bold; text-decoration:none">
    <img src="~/Content/Images/gan356.png" width="30" />Giỏ hàng (@ViewBag.Tongsoluongsanpham)
</a>
