
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<h2>Đơn hàng đã được xác nhận</h2>
<h3>Ngồi nhà hóng hàng giao tới nghen :))</h3>

<p>
    @Html.ActionLink("Về trang chủ", "Index", "RubikStore")
</p>

